<form class="mt-5 container">
  <div class="form-group">
    <label for="exampleInputEmail1">Search</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="q" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>